.ape {
  position: relative;
  width: fit-content;

  .spinner {
    @extend .absolute-center;
    zoom: 0.8;
    &::after {
      border-color: #081633 transparent #081633 transparent;
    }
  }
  &-figure {
    zoom: 0.47;
  }
}

@media only screen and (max-width: 1000px) {
  .ape {
    &-figure {
      zoom: 0.3;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .ape {
    &-figure {
      zoom: 0.22;
    }
  }
}
