@import "./ApeController/style.scss";
@import "./ApeFigure/style.scss";
@import "./Header/style.scss";
@import "./GameVideo/style.scss";

.main {
  height: 100%;
  padding-bottom: 200px;
  &-top {
    height: 100vh;
    padding-top: 50px;
    position: relative;
    &-grid {
      max-width: 1030px;
      width: calc(100% - 50px);
      margin: 0 auto;
    }
    &-game {
      display: flex;
      align-items: center;
      margin-top: 40px;
      justify-content: center;
      padding-bottom: 220px;
      position: relative;
      z-index: 10;
      .game-controller {
        margin-left: 40px;
      }
    }
    &-figure {
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
  }
}
@media only screen and (max-width: 1800px) {
  .main {
    &-top {
      &-game {
        zoom: 0.95;
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .main {
    &-top {
      &-game {
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .main {
    &-top {
      height: auto;
      padding-top: 30px;
      &-game {
        zoom: 1;
        padding-bottom: 140px;
        margin-top: 50px;
        flex-direction: column;
        .game-controller {
          margin-left: 0px;
        }
        .ape {
          margin-bottom: 10px;
        }
      }
    }
  }
}
