body {
  font-family: $main-font;
  background: #110620;
}

$mobile: 700px;

.absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

canvas {
  pointer-events: none;
}
